<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cnp</title>
</head>
<body>
    {% if result %}
        <h1> {{result }}</h1>
    {% else %}
        <h1>Introdu un nou cnp</h1>
    {% endif %}
    

    <form action="" method="post">
        {% csrf_token %}

        <input type="number" name="age" id="">



        <select name="gender" id="">
            <option value="f">Feminin</option>
            <option value="m">Masculin</option>
        </select>

        <input type="submit" value="Verifica">
    </form>


</body>
</html>